*{
    padding: 0;
    margin: 0;
}


.container{
    width: 90%;
    margin: auto;
    padding-top: 100px;
    display: flex;
}

.left-content,.right-content{
    flex-basis: 45%;

}

.left-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,0.5fr));
    grid-gap: 10rem;

}
.card{
    width: 300px;
    background-color: #788991;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0, 0,0, 0.5);
    padding: 0 1.5rem;
    display: inline;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.btn-group{
    display: flex;   
}

.btn-group button{
    outline: none;  
    border: none; 
    width: 150px;
    padding: 0.3rem 0;
    margin: 1rem;
    font-size: 17px;
    font-weight: bold;
    color: white;
    background-color: blue;
}